<a href="#navbar" id="menu-burger" class="menu-burger">Menu
  <span class="nav-icon"></span>

  <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
    <circle fill="transparent" stroke="#000000" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157" stroke-dashoffset="157"></circle>
  </svg>
</a>

<div id="navbar" class="navbar">
  <div class="navigation-wrapper">
    <div class="half-block">
      <h2>Workshopology</h2>

      <nav>
        <ul class="primary-nav">
          <li><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
          <li><a href="http://workshopology.github.io/howto" target="_blank"></i> How to</a></li>
          <li><a href="{{ '/events' | prepend: site.baseurl }}">Events</a></li>
          <li><a href="https://github.com/Workshopology/workshopology.github.io" target="_blank"></i> Github</a></li>
          <li><a href="https://groups.google.com/forum/#!forum/workshopology" target="_blank">GGroup</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>